<h4>Application form</h4><br>
<form class="needs-validation" action="/job/{{job['id']}}/apply" method="post">
    <div class="col-md-6">
        <label class="form-label">Full Name</label>
        <input class="form-control" type="text" name="full_name" placeholder="e.g. John Doe" required pattern=".{3,}">
        <div class="invalid-feedback"></div><br>
    </div>

    <div class="col-md-6">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" name="email" placeholder="e.g. johndoe@gmail.com" required><br>
    </div>

    <div class="col-md-6">
        <label class="form-label">LinkedIn URL</label>
        <input class="form-control" type="url" name="linkedin_url" placeholder="e.g. https://www.linkedin.com/in/john-doe"><br>
    </div>

    <div class="col-md-6">
        <label class="form-label">Education</label>
        <textarea class="form-control" type="text" name="education" id="exampleFormControlTextarea1" rows="3" required></textarea><br>
    </div>

    <div class="col-md-6">
        <label class="form-label">Work Experience</label>
        <textarea class="form-control" type="text" name="work_experience" id="exampleFormControlTextarea1" rows="3" required></textarea><br>
    </div>
    <!-- <div class="col-md-6">
        <label for="formFile" class="form-label">Upload CV</label>
        <input class="form-control" type="file" id="formFile" accept=".pdf" required onchange="validateFile()">
        <small id="fileError" class="text-danger"></small><br>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
const fullNameInput = document.querySelector('input[name="full_name"]');
const name_feedbackElement = document.querySelector('.invalid-feedback');


fullNameInput.addEventListener('input', () => {
    if (fullNameInput.value.length < 3) {
        fullNameInput.classList.add('is-invalid');
        name_feedbackElement.textContent = "Full name must be at least 3 characters long.";
    } else {
        fullNameInput.classList.remove('is-invalid');
        name_feedbackElement.textContent = "";
    }
});

const emailInput = document.querySelector('input[name="email"]');


emailInput.addEventListener('input', () => {
    emailInput.value = emailInput.value.toLowerCase();
});
</script>